<div class="container mt-5">
  <h4><%= @comic.title %></h4>

  <h5>
  <%= pluralize @comic.reviews.size, "review" %>
  </h5>


  <div data-controller="insert-in-list">
    <div data-insert-in-list-target="items">
      <div id="reviews">
        <% if @comic.reviews.blank? %>
          Be the first to leave a review for <%= @comic.title %>
        <% else %>
          <% @comic.reviews.each do |review| %>
            <%= render "review", review: review %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= render "reviews/form", {review: @review, comic: @comic} %>

  </div>
</div>
